

.navbar-default {
	border: none;
	background: rgba(245, 245, 245, 0.30);
}

.dropdown-menu {
    width: 10px !important;
  
}
.img {
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
}

.thumbnail {
	background-color: rgba(245, 245, 245, 0.6);
	border: none;
}
